config defaultToCurrentScreen true
config nudgePercentOf screenSize
config resizePercentOf screenSize
config modalEscapeKey esc

###### Aliases ######
alias move-half-right move screenOriginX+screenSizeX/2,windowTopLeftY screenSizeX/2,windowSizeY
alias move-third-right move screenOriginX+screenSizeX*2/3,windowTopLeftY screenSizeX/3,windowSizeY
alias move-two-third-right move screenOriginX+screenSizeX/3,windowTopLeftY screenSizeX*2/3,windowSizeY

alias move-half-left move screenOriginX,windowTopLeftY screenSizeX/2,windowSizeY
alias move-third-left move screenOriginX,windowTopLeftY screenSizeX/3,windowSizeY 
alias move-two-third-left move screenOriginX,windowTopLeftY screenSizeX*2/3,windowSizeY

alias move-half-top move windowTopLeftX,screenOriginY windowSizeX,screenSizeY/2
alias move-third-top move windowTopLeftX,screenOriginY windowSizeX,screenSizeY/3
alias move-two-third-top move windowTopLeftX,screenOriginY windowSizeX,screenSizeY*2/3

alias move-half-bottom move windowTopLeftX,screenOriginY+screenSizeY/2 windowSizeX,screenSizeY/2
alias move-third-bottom move windowTopLeftX,screenOriginY+screenSizeY*2/3 windowSizeX,screenSizeY/3
alias move-two-third-bottom move windowTopLeftX,screenOriginY+screenSizeY/3 windowSizeX,screenSizeY*2/3

alias center-window move screenOriginX+(screenSizeX*.05),screenOriginY+(screenSizeY*.05) screenSizeX*.9,screenSizeY*.9

alias show-terminal sequence show 'iTerm2' | focus 'iTerm2'
alias show-emulator show 'qemu-system-i386' | focus 'qemu-system-i386'

alias fullscreen corner top-left resize:screenSizeX;screenSizeY

alias resize-x-smaller resize -10% +0
alias resize-x-larger resize +10% +0
alias resize-y-smaller resize +0 -10%
alias resize-y-larger resize +0 +10%

alias push-right-chain chain push right bar-resize:screenSizeX/2 | push right bar-resize:screenSizeX/3 | push right bar-resize:screenSizeX*2/3
alias push-left-chain chain push left  bar-resize:screenSizeX/2 | push left bar-resize:screenSizeX/3 | push left bar-resize:screenSizeX*2/3
alias push-up-chain chain push up    bar-resize:screenSizeY/2 | push up bar-resize:screenSizeY/3 | push up bar-resize:screenSizeY*2/3
alias push-down-chain chain push down  bar-resize:screenSizeY/2 | push down bar-resize:screenSizeY/3 | push down bar-resize:screenSizeY*2/3

alias move-right-chain chain ${move-half-right} | ${move-third-right} | ${move-two-third-right}
alias move-left-chain chain ${move-half-left} | ${move-third-left} | ${move-two-third-left}
alias move-top-chain chain ${move-half-top} | ${move-third-top} | ${move-two-third-top}
alias move-bottom-chain chain ${move-half-bottom} | ${move-third-bottom} | ${move-two-third-bottom}

###### Key Bindings ######

# reload
bind r:ctrl;alt;cmd relaunch

#centering
bind c:ctrl;alt;shift ${center-window}

#terminal
bind f1:cmd ${show-terminal}
bind f2:cmd ${show-emulator}

# fullscreen
bind f:ctrl;shift;alt ${fullscreen}

# resize binding
bind left:shift,ctrl,alt,r:toggle ${resize-x-smaller}
bind right:shift,ctrl,alt,r:toggle ${resize-x-larger}
bind up:shift,ctrl,alt,r:toggle ${resize-y-smaller}
bind down:shift,ctrl,alt,r:toggle ${resize-y-larger}

# Push bindings with thirds
bind right:shift;ctrl;alt  ${push-right-chain}
bind left:shift;ctrl;alt   ${push-left-chain}
bind up:shift;ctrl;alt     ${push-up-chain}
bind down:shift;ctrl;alt   ${push-down-chain}

bind right:shift;ctrl;alt;cmd ${move-right-chain}
bind left:shift;ctrl;alt;cmd ${move-left-chain}
bind up:shift;ctrl;alt;cmd ${move-top-chain}
bind down:shift;ctrl;alt;cmd ${move-bottom-chain}

# Throw Bindings
bind 1:ctrl;alt         throw 0 resize
bind 2:ctrl;alt         throw 1 resize
bind 3:ctrl;alt         throw 2 resize
bind right:ctrl;alt;cmd throw right
bind left:ctrl;alt;cmd  throw left
bind up:ctrl;alt;cmd    throw up
bind down:ctrl;alt;cmd  throw down

# Focus Bindings
bind right:ctrl;alt    focus right
bind left:ctrl;alt     focus left
bind up:ctrl;alt       focus up
bind down:ctrl;alt     focus down
# bind up:cmd;alt   focus behind
# bind down:cmd;alt focus behind

# Window Hints
bind esc:ctrl hint
